<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till kurs</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="/index">Startsida</a> - <a href="/add">Lägg till kurs</a> - <a href="about">Om</a>
        </nav>
    </header>
    <main>
        <h1>Lägg till kurs</h1>
        <div class="form-container">
        <%# Om det finns felmeddelanden loopa ut dessa %>
        <% if(locals.errors.length> 0) { %>
            <ul>
                <% locals.errors.forEach(error=> { %>
                    <li>
                        <%= error %>
                    </li>
                    <% }); %>
            </ul>
            <% } %>

                <form action="/submit" method="post">
                    <label for="coursecode">Kurskod:</label>
                    <input type="text" id="coursecode" name="kursKod" value="<%= coursecode %>">
                    <br>
                    <label for="coursename">Kursnamn:</label>
                    <input type="text" id="coursename" name="kursNamn" value="<%= coursename %>" required>
                    <br>
                    <label for="syllabus">Kursplan:</label>
                    <input type="text" id="syllabus" name="kursPlan" value="<%= syllabus %>" required>
                    <br>
                    <label for="progression">Progression:</label>
                    <input type="text" id="progression" name="kursProgression" value="<%= progression %>" required>
                    <br>
                    <button type="submit">Skicka</button>
                </form>
        </div>
    </main>

    <footer>
        <p> Lab 1 serverbaserad webbutveckling av Rune Granath</p>
    </footer>

</body>

</html>